<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Logging -->
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="logs/log.txt" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" />
    <add key="serilog:write-to:File.shared" value="true" />
    <!-- End Logging -->
    <add key="TrackingApi" value="https://localhost:5001"/>
    <add key="Api" value="https://localhost:3000"/>
    <add key="Subscriber" value="TrackerSubscriber"/>
  </appSettings>
  <connectionStrings>
    <add name="BackPlaneSqlConnectionString" connectionString="data source=anticipatedev.database.windows.net;database=GEADev-V3;user id=anticipateadmin;password=pr0m0t10n3v@lu@t10n" />
  </connectionStrings>
</configuration>